.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .token-from,
  .token-to {
    display: flex;
  }

  .token-from-select,
  .token-to-select {
    margin-right: 10px;

    .p-dropdown {
      min-width: 200px;
    }
  }

  .swap-button {
    height: 30px;
    width: 40%;
    background: rgb(126, 159, 235);
    background: linear-gradient(
      0deg,
      rgba(126, 159, 235, 1) 0%,
      rgba(138, 255, 240, 1) 100%
    );
    border: none;
    border-radius: 15px;
    margin: 20px 0;
    font-size: smaller;
    font-weight: 600;
    color: white;
  }

  .swap-button:hover {
    cursor: pointer;
    background: rgb(126, 159, 235);
    background: linear-gradient(
      0deg,
      rgb(137, 164, 232) 0%,
      rgb(161, 254, 241) 100%
    );
  }
}

.token-item {
  display: flex;
  align-items: center;
}

.token-item img {
  width: 20px;
  margin-right: 3px;
}

.token-item-selected {
  display: flex;
}

.p-dropdown {
  background-color: red;
}
