.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .token-from,
  .token-to {
    display: flex;
  }

  .token-from-select, .token-to-select {
    margin-right: 10px;
  }

  .token-from-input input {
    // height: 70px;
  }
}

.token-item {
  display: flex;
  align-items: center;
}

.token-item img {
  width: 20px;
  margin-right: 3px;
}

.token-item-selected {
  display: flex;
}
