.navbar {
  // main color
  // background: rgb(235,212,126);
  // background: linear-gradient(0deg, rgba(235,212,126,1) 0%, rgba(255,138,166,1) 100%);
  .navbar-nav {
    display: flex;
    justify-content: space-around;
    .logo {
      font-size: large;
      font-weight: 1000;
      color: rgb(23, 60, 144);
    }

    .user-address {
      margin: auto;
    }

    .user-address:hover {
      cursor: pointer;
    }
  }

  .navbar-nav li {
    list-style: none;
    text-decoration: none;
  }

  .navbar-nav li a {
    list-style: none;
    text-decoration: none;
    color: grey;
  }

  .navbar-nav button {
    background: rgb(126, 159, 235);
    background: linear-gradient(
      0deg,
      rgba(126, 159, 235, 1) 0%,
      rgba(138, 255, 240, 1) 100%
    );
    border: none;
    border-radius: 15px;
    height: 30px;
    font-size: smaller;
    font-weight: 600;
    color: white;
  }

  .navbar-nav button:hover {
    cursor: pointer;
    background: rgb(126, 159, 235);
    background: linear-gradient(
      0deg,
      rgb(137, 164, 232) 0%,
      rgb(161, 254, 241) 100%
    );
  }
}
